/* -------General----------- */
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

html {
  scroll-behavior: smooth;
  transition-duration: 0.5s;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #333;
  color: #222;
  overflow-x: hidden;
  margin: 0;
}

/* -------Landing Page----------- */
.container {
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: absolute;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #ff7979;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav+nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: absolute;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li+li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li+li+li {
  margin-left: 30px;
  transform: translateX(-200%);
}

nav a {
  color: #fafafa;
  text-decoration: none;
  transition: all 0.5s;
}

nav a:hover {
  color: #ff7979;
  font-weight: bold;
}

.content img {
  max-width: 100%;
}

.content {
  max-width: 1000px;
  margin: 50px auto;
}

.content h1 {
  margin: 0;
}

.content small {
  color: #555;
  font-style: italic;
}

.content p {
  color: #333;
  line-height: 1.5;
}

.show-in-large-devices {
  display: none;
}

.first-page-ps-and-img {
  margin-top: 50px;
}

.first-page-ps-and-img img {
  margin: 20px 0;
}

/* -------About----------- */
#about {
  padding: 30px 20px;
  color: #cfc9c9;
}

.about-col-1 {
  flex-basis: 90%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 100px;
}

.about-col-2 {
  font-size: 20px;
  max-width: 95%;
  padding: 10px;
  line-height: 1.5;
  font-size: 16px;
}

.dummy-container-subtitle {
  display: flex;
  justify-content: center;
}

.about-col-2-p {
  margin-top: 0;
  text-align: center;
}

.about-sub-title {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

.about-tab-titles {
  display: flex;
  margin: 35px 0 15px;
}

.about-tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.about-tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.about-tab-links.active-link::after {
  width: 50%;
}

.about-tab-contents ul {
  padding: 0;
}

.about-tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.about-tab-contents ul li span {
  color: #b54769;
  font-size: 14px;
}

.about-tab-contents {
  display: none;
}

.about-tab-contents.active-tab {
  display: block;
}

/* -------Portfolio----------- */
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
  /* jadid below */
}

.layer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.layer h3, .layer p{
  /* jadid below */
  color: white;
}

.layer p{
  text-wrap: balance;
}

.mobile-touchmove-image{
  transform: scale(1.1);
}

.mobile-touchmove-layer{
  height: 100%;
}

.btn-see-more {
  display: none;
}

.btn-see-more:hover {
  background: #ff004f;
  cursor: pointer;
  transform: scale(0.95);
}

/* ---------Contact-------- */
.contact {
  padding: 20px 30px;
  background-color: #f4f4f4;
}

.contact-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-left h1,
.phone-number,
.email {
  margin-bottom: 10px;
}

.cv {
  text-decoration: none;
}

.contact-right {
  margin-top: 50px;
}

.submit-to-google-sheet {
  max-width: 300px;
  margin: auto;
}

.submit-to-google-sheet input,
.submit-to-google-sheet textarea {
  width: 100%;
  max-width: 80vw;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-to-google-sheet textarea {
  resize: vertical;
}

.submit-to-google-sheet button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff004f;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.submit-to-google-sheet button:hover {
  background-color: #d60043;
}

#msg {
  color: #61b752;
  margin-top: 10px;
  text-align: center;
}

.copyright {
  display: flex;
  justify-content: center;
  font-weight: 300;
  margin-top: 100px;
}

.copyright p {
  font-size: 12px;
}


/* ---------Tablets and Larger Devices-------- */
@media screen and (min-width: 1000px) and (max-width: 1920px) {
  .content {
    max-width: 100%;
  }

  .h1-and-small-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    font-size: 45px;
  }

  h1 .color-in-large-devices {
    display: inline;
    position: relative;
    color: #ff7979;
  }

  h1 .color-in-large-devices::before {
    content: "ı";
    position: absolute;
    color: black;
  }

  .first-page-ps-and-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    align-items: center;
    margin-top: 150px;
  }

  .hide-in-large-devices {
    display: none;
  }

  .faraz-homepage-photo {
    justify-self: end;
  }

  .first-page-ps-and-img p:nth-child(3) {
    padding-right: 200px;
    font-size: 40px;
  }

  .show-in-large-devices {
    display: inline;
  }

  nav {
    font-size: 20px;
  }

  /* -------About----------- */
  .about-row {
    display: grid;
    grid-template-columns: 5fr 4fr;
  }

  .about-col-1 {
    order: 2;
    align-self: end;
  }

  .about-me-photo {
    margin-right: 300px;
  }

  .about-col-2 {
    font-size: 30px;
    order: 1;
    margin-top: 100px;
  }

  .about-sub-title {
    font-size: 40px;
  }

  .history-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;

  }

  .about-tab-titles {
    margin-bottom: 0;
  }

  .about-col-2-p {
    margin-left: 100px;
  }

  .about-tab-links {
    font-size: 30px;
  }

  .about-tab-contents ul {
    font-size: 23px;
    margin-top: 0;
  }

  /* -------Portfolio----------- */

  .sub-title {
    font-size: 40px;
  }

  .work-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .work.hidden {
    display: none;
  }

  .work:hover img {
    transform: scale(1.1);
  }
  
  .work:hover .layer {
    height: 100%;
  }

  .btn-see-more {
    font-size: 16px;
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 40px;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.5s;
    background: radial-gradient(transparent, #0000001a);
  }

  .btn-see-more:hover {
    background: #ff004f;
    cursor: pointer;
    transform: scale(0.95);
  }

  /* ---------contact-------- */
  .contact-row {

    display: grid;
    grid-template-columns: repeat(2, 600px);
    justify-content: center;
  }

  .contact-left {
    font-size: 30px;
  }

  .cv {
    color: #fff;
    background-color: #353549;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 10px;
  }

  .cv:hover {
    transform: scale(0.95);
  }

  .submit-to-google-sheet input,
  .submit-to-google-sheet textarea {
    outline: none;
    margin: 15px 0;
    font-size: 18px;
    min-width: 30vw;
  }

  form .btn2 {
    display: inline-block;
    background-color: #ff004f;
    text-decoration: none;
    color: white;
    padding: 12px 28px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 2px;
    border-radius: 15px;
    border: none;
    width: 150px;
  }

  form .btn2:hover {
    transform: scale(0.95);
  }

  .copyright {
    width: 100%;
    text-align: center;
    padding: 2px 0;
    background: #dfeaff;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: -15px;
  }

  .copyright p {
    font-size: 10px;
  }

  #msg {
    font-size: 20px;
  }
}

/* ---------Largest Devices-------- */
@media only screen and (min-width: 1921px) {
  .content {
    max-width: 100%;
  }

  .h1-and-small-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    font-size: 45px;
  }

  h1 .color-in-large-devices {
    display: inline;
    position: relative;
    color: #ff7979;
  }

  h1 .color-in-large-devices::before {
    content: "ı";
    position: absolute;
    color: black;
  }

  .first-page-ps-and-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    align-items: center;
    margin-top: 150px;
  }

  .hide-in-large-devices {
    display: none;
  }

  .faraz-homepage-photo {
    justify-self: end;
  }

  .first-page-ps-and-img p:nth-child(3) {
    padding-right: 200px;
    font-size: 40px;
  }

  .show-in-large-devices {
    display: inline;
  }

  nav {
    font-size: 30px;
  }

  /* -------About----------- */
  .about-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .about-col-1 {
    order: 2;
  }

  .about-me-photo {
    margin-right: 300px;
  }

  .about-col-2 {
    font-size: 30px;
    order: 1;
    margin-top: 100px;
  }

  .about-sub-title {
    font-size: 40px;
  }

  .history-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: 70px;
  }

  .about-col-2-p {
    margin-left: 100px;
  }

  .about-tab-links {
    font-size: 30px;
  }

  .about-tab-contents ul {
    font-size: 23px;
  }

  /* -------Portfolio----------- */
  .sub-title {
    font-size: 40px;
  }

  .work-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .work.hidden {
    display: none;
  }

  .work:hover img {
    transform: scale(1.1);
  }
  
  .work:hover .layer {
    height: 100%;
  }

  .layer h3{
    font-size: 30px;
  }

  .layer p{
    font-size: 15px;
  }

  .btn-see-more {
    font-size: 16px;
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 40px;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.5s;
    background: radial-gradient(transparent, #0000001a);
  }

  .btn-see-more:hover {
    background: #ff004f;
    cursor: pointer;
    transform: scale(0.95);
  }

  /* ---------contact-------- */
  .contact-row {
    display: grid;
    grid-template-columns: repeat(2, 600px);
    justify-content: center;
  }

  .contact-left {
    font-size: 30px;
  }

  .cv {
    color: #fff;
    background-color: #353549;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 10px;
  }

  .cv:hover {
    transform: scale(0.95);
  }

  .submit-to-google-sheet input,
  .submit-to-google-sheet textarea {
    outline: none;
    margin: 15px 0;
    font-size: 18px;
    min-width: 30vw;
  }

  form .btn2 {
    display: inline-block;
    background-color: #ff004f;
    text-decoration: none;
    color: white;
    padding: 12px 28px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 2px;
    border-radius: 15px;
    border: none;
    width: 150px;
  }

  form .btn2:hover {
    transform: scale(0.95);
  }

  .copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #dfeaff;
    font-weight: 300;
    margin-top: 20px;
  }

  #msg {
    font-size: 25px;
  }
  
}

